<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white mr-5 lobster nav-font" href="{% url 'home' %}" id="#" aria-haspopup="false" aria-expanded="false">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white mr-5 lobster nav-font" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white mr-5 lobster nav-font" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vapes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="vape-kits">
                <a href="{% url 'products' %}?category=beginner_starter_kits" class="dropdown-item">Beginner &amp; Starter Kits</a>
                <a href="{% url 'products' %}?category=top_end_models" class="dropdown-item">Top End models</a>
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item">Accessories</a>
                <a href="{% url 'products' %}?category=beginner_starter_kits,top_end_models,accessories" class="dropdown-item">All Vapes & Modz</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white mr-5 lobster nav-font" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                E-liquid
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=10ml_flavours" class="dropdown-item">10ml &amp; flavours</a>
                <a href="{% url 'products' %}?category=shortfills_nicshots" class="dropdown-item">Shortfills &amp; Nic Shots</a>
                <a href="{% url 'products' %}?category=10ml_flavours,shotfills_nicshots" class="dropdown-item">All E-liquid</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link text-white lobster nav-font" href="#" id="specials-link"  aria-haspopup="false" aria-expanded="false">
                Vape Boxes
            </a>
        </li>
    </ul>
</div>